<ul class="dropdown-menu">

    <li>
        <span class="dropdown-item"
            onclick="api.window.open('pages/users', { title: 'Usuários' })"
            style="cursor:pointer;">
            <i class="fa-solid fa-users text-primary"></i>
            Usuários
        </span>
    </li>

    <li>
        <span class="dropdown-item"
            onclick="api.window.open('pages/nutricional', { title: 'Tabela Nutricional' })"
            style="cursor:pointer;">
            <i class="fa-solid fa-table text-success"></i>
            Tabelas Nutricionais
        </span>
    </li>

    <li>
        <span class="dropdown-item"
            onclick="api.window.open('pages/product', { title: 'Produtos' })"
            style="cursor:pointer;">
            <i class="fa-solid fa-box text-warning"></i>
            Produtos
        </span>
    </li>

    <li>
        <span class="dropdown-item"
            onclick="api.window.open('pages/ingredientes', { title: 'Ingredientes' })"
            style="cursor:pointer;">
            <i class="fa-solid fa-carrot text-danger"></i>
            Ingredientes
        </span>
    </li>

</ul>